@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}
body{
  display: flex;
  align-Items: center;
  justify-content: center;
  min-height: 100vh;
  background: #d77e7e;
  color:white;
}

.wrapper{
  width: 605px;
  background: #6d1d1d;
  border-radius: 15px;
  padding: 30px 30px 25px;  
}

.wrapper header{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.wrapper .content{
  margin: 35px 0;
}

.content .quote-area{
  display:flex;
  justify-content: center;
}
.quote-area i{
  font-size: 15px;
}

.quote-area i:first-child{
  margin: 3px 10px 0 0;
}

.quote-area i:last-child{
  display: flex;
  align-Items: flex-end;
  margin: 0 0 3px 10px;
}

.quote-area .quote{
  font-size: 22px; 
  text-align: center;
  word-break: break-all;
  font-family:sans-serif;
}

.content .author{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  justify-content: flex-end;
}

.author span:first-child{
  margin: -7px 5px 0 0;
  font-family: monospace;
}
.wrapper .buttons{
  border-top: 1px solid white;
}

.buttons .features{
  display: flex;
  align-Items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.features ul{
  display: flex;
}

.features ul li{
  list-style: none;
  margin: 0 5px;
  height: 47px;
  width: 47px;
  display:flex;
  cursor: pointer;
  color: white;
  align-Items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #d77e7e;
  transition: all 0.3s ease;
  }

.features ul li: hover{
  color: white;
  background:#d77e7e;
}

.features button{
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-style: 16px;
  padding: 13px 22px;
  border-radius: 30px;
  background: #d77e7e;
  font-family:sans-serif;
}
button.loading{
  opacity: 0.7;
  pointer-events: none;
}
